body {
    background-color: rgb(246, 238, 238);
}

h1 {
    color: blue;
    margin: auto;
    width: 300px;
}

/* div {
    border: black 1px solid;
} */

/* #day-1 {
    border: black 1px solid
}

#day-2 {
    border: red 1px dashed;
} */

.day-style {
    border: black solid 1px;
}

#requirements {
    color: red
}

#strength {
    color: red;
}

tr, th, td {
    border: black solid 2px;
}

img {
    border: black 1px solid;
    margin: 2px auto;
    padding: 2px;
}

.button {
    margin: 5px;
    padding: 10px;
    border-radius: 12px;
    width: 200px;
}