body {
    background-color: black;
    margin: 0;
}

/* #container {
    position: relative;
} */

div.row div {
    width: 20px;
    height: 20px;
    display: inline-block;
}

#world {
    margin-bottom: 20px;
}

.row {
    display: flex;
}

div.brick {
    background-color: rgb(16, 16, 163);
}

div.coin {
    background-image: url('./assets/coin.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5px;
}

div.empty {}

#pacman {
    background-image: url("./assets/pacman.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
}

#pacman-life {
    background-image: url("./assets/pacman.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
}

#cherry {
    background-image: url("./assets/cherry.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 18px;
    height: 18px;
}

#score {
    border: 1px solid white;
    width: 30px;
    height: 30px;
    padding: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#counts {
    display: flex;
    gap: 10px;
    margin-left: 50px;
}

#cherry-count {
    display: flex;
    gap: 10px;
}